{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
<div class="widget" >
    <h2 class="widget-title">
        <span class="icon-calendar"></span>
        Upcoming Events
    </h2>
    <ul class="calendar upcoming" >
        <li>
            There are no upcoming events scheduled... Stay tuned!
        </li>
    </ul>
</div>
<div class="widget" >
    <h2 class="widget-title">
        <span class="icon-calendar"></span>
        Past Events
    </h2>
    <ul class="calendar past" >
        <li>
            <time datetime="2016-05-19T00:00:00+00:00" >
                2016-05-19
            </time>
            <a href="http://www.meetup.com/es-ES/python-185/events/231092415/">
                Python May Meetup
            </a>
        </li>
        <li>
            <time datetime="2016-05-14T00:00:00+00:00" >
                2016-05-14
            </time>
            <a href="http://www.meetup.com/es-ES/python-185/events/231011059/">
                Python May Coding Dojo
            </a>
        </li>
        <li>
            <time datetime="2016-04-21T00:00:00+00:00" >
                2016-04-21
            </time>
            <a href="http://www.meetup.com/es-ES/python-185/events/230295390/">
                Python April Meetup
            </a>
        </li>
        <li>
            <time datetime="2016-04-16T00:00:00+00:00" >
                2016-04-16
            </time>
            <a href="http://www.meetup.com/es-ES/python-185/events/230295448/">
                Python April Coding Dojo
            </a>
        </li>
        <li>
            <time datetime="2016-03-17T00:00:00+00:00" >
                2016-03-17
            </time>
            <a href="http://www.meetup.com/es-ES/python-185/events/229156441/">
                Python March Meetup
            </a>
        </li>
        <li>
            <time datetime="2016-02-20T00:00:00+00:00" >
                2016-02-20
            </time>
            <a href="http://www.meetup.com/es-ES/python-185/events/228878983/">
                February Coding Dojo
            </a>
        </li>
    </ul>
</div>
{% endblock %}
