<!doctype html>
<meta charset="utf-8">
<link rel="stylesheet" href="{{ '/static/style.css'|url }}">
<title>{% block title %}Welcome{% endblock %} — PyBCN</title>
<body>
  <header>
    <div class="container">
      <img src="/static/images/logo.png" /><h1>pyBCN</h1>
      <h2>BARCELONA PYTHON MEETUP</h2>
      <nav>
        <ul class="nav navbar-nav">
          <li{% if this._path == '/' %} class="active"{% endif
          %}><a href="{{ '/'|url }}">Welcome</a></li>
          {% for href, title in [
          ['/blog', 'Blog'],
          ['/about', 'About']
          ] %}
          <li{% if this.is_child_of(href) %} class="active"{% endif
              %}><a href="{{ href|url }}">{{ title }}</a></li>
          {% endfor %}
        </ul>
      </nav>
    </div>
  </header>
  <div class="page">
    <div class="container">
      {% block body %}{% endblock %}
    </div>
  </div>
  <footer>
    <div class="container">
      <p>&copy; Copyright 2016 by pyBCN Barcelona Python Meetup.</p>
    </div>
  </footer>
</body>
